.root-admin-container {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

.admin__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.admin__content-container {
    display: flex;
    flex-direction: row;
    /* Altere de column para row para ficar ao lado do menu */
    flex: 1;
}

/* Estilo para o menu vertical */
.admin__menu-container {
    background-color: #795FA1;
    width: 18.5rem;
    height: calc(100vh - 5rem);
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.admin__menu {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.admin__menu-option {
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-option {
    margin-right: 8px;
}

.admin__menu-option:hover {
    background-color: #604688;
}

.admin__menu-option.ativo {
    filter: brightness(0.85);
    background-color: #604688;
    color: aquamarine;
}

/* Novos estilos para colocar a admin-indicar__card-container ao lado do menu */
.conteudo-relacionado {
    width: 100%;
    display: flex;
    justify-content: left;
}

/* GridView */
.admin__gridView-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.admin__toolbar-top {
    background-color: #B0AFE6;
    margin-bottom: 8px;
    padding: 6px;
    height: 4.0rem;
    display: flex;
    flex-direction: row;
}

.toolbar-button {
    padding: 8px 16px;
    max-width: 200px;
    margin-right: 10px;
}

/* Todo conteúdo do card de jogos indicados */
.admin-card__container {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #dfdfdff3; /* Black w/ opacity */
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 20px;
    transition: ease-in-out 1s;
    z-index: 4;
}

.admin__search-input {
    background-color: #f3f3f3;
    border-bottom: 2px solid #e6e6e6;
    border-radius: 5px;
    width: 100%;
    padding: 5px 8px;
}

.admin__gridView {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    overflow: scroll;
}

.admin__gridView-cell {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 90px;
    padding: 8px 16px;
    flex-direction: row;
    margin: 8px auto;
    border-radius: 8px;
    box-shadow: 0px 6px 6px 0px #aaaaaa33;
    color: #444;
}

.admin__gridView-cell-button-container {
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 8px;
}

.admin__gridView-cell-image-container {
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
}

.admin__gridView-cell-image-container img {
    overflow: hidden;
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.admin__gridView-cell-text-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin__gridView-cell:hover, .admin__gridView-cell.active {
    background-color: #e0e0e0;
}

.gridView-id,
.gridView-game,
.gridView-game-nota {
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

.gridView-game-nota {
    max-height: none;
    color: #fff;
}


    .admin__perfil-info__plataformas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

.admin__perfil-info__plataformas img {
    width: 1.563rem;
    height: 1.563rem;
    margin-right: 10px;
}

.admin__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    height: auto;
    max-width: 660px;
    min-width: 460px;
    background-color: #795FA1;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.admin__row {
    width: 100%;
    margin-bottom: 10px;
}

.admin__label {
    color: #fff;
}

.admin__input,
.admin__textarea {
    padding: 8px;
    width: 100%;
    border-radius: 7px;
    background-color: #624a86;
    color: #e7e7e7;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.admin__textarea {
    height: auto;
    resize: none;
}

.admin__textarea::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

.admin__textarea::-webkit-scrollbar-track {
    background: transparent;
    /* Cor de fundo da barra de rolagem */
}

.admin__textarea::-webkit-scrollbar-thumb {
    background: #4a3170;
    /* Cor da barra de rolagem */
    border-radius: 4px;
    /* Raio dos cantos da barra de rolagem */
}


.admin__textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor da barra de rolagem ao passar o mouse */
}

.admin__input {
    height: 2.2rem;
}

.admin__btn-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.indicar__btn-aprovar,
.indicar__btn-reprovar {
    width: 30%;
    height: 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.indicar__btn-aprovar {
    background-color: #633F9A;
}

.indicar__btn-aprovar:hover {
    background-color: #492979;
}

.indicar__btn-reprovar {
    background-color: #B0AFE6;
    border: 2px solid #633F9A;
}

.indicar__btn-reprovar:hover {
    background-color: #614688;
}

.gridView-nonResult {
    margin: auto;
}

.admin__menu-option-text {
    text-wrap: nowrap;
}

.admin__row-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.admin__profileImageContainer,
.admin__bannerImageContainer {
    text-align: center;
    padding: 20px;
}

.admin__profileImageWrap,
.admin__bannerImageWrap {
    position: relative;
    display: inline-block;
}

.admin__file-input-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #4d2e7c;
    border: 2px dashed #4d2e7c;
    cursor: pointer;
    border-radius: 5px;
}

.admin__file-input-label i {
    margin-right: 8px;
}

.admin__image-preview {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px dashed #4d2e7c;
    border-radius: 5px;
}

.admin__image-preview__perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__image-preview__banner {
    width: 250px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ícone de lápis */
.admin__file-input-label i {
    margin-right: 8px;
}

.admin__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #492979;
    font-size: 40px;
}

.admin__profileImageText,
.admin__bannerImageText {
    color: #fff;
}


@media(max-width: 500px) {

    .admin__menu-container {
        width: 3.2rem;
    }

    .admin__menu-option-text {
        display: none;
    }
}