/* nav {
    margin-bottom: 59px;
}  */

.login,
.destaqueContainer {
    margin-top: 50px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 60px; */
    /* height: 100vh; */
    width: 100%;
}

.login-page__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.labelContainer {
    width: 100%;
    margin-bottom: 2.5rem;
}

.destaqueContainer {
    display: flex;
    flex-direction: column;
    color: #633F9A;
    left: 0;
    float: left;
    font-size: 20pt;
    margin-left: 6.25rem;
    width: 37.5rem;
}

.tituloDestaque {
    font-weight: 900;
}

.subDestaque {
    font-weight: 600;
    width: 31.25rem;
}

.textoDestaque {
    font-size: 16pt;
    text-transform: lowercase;
}

.login {
    background-color: #795FA1;
    color: #fff;
    border-radius: 0.9375rem;
    width: 28.75rem;
    height: auto;
    float: right;
    margin-right: 6.25rem;
    margin-bottom: 8.75rem;
    padding: 3.125rem 1.875rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.labelContainer {
    display: flex;
    flex-direction: column;
}

.inputLogin {
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    padding: 0.625rem 0.8125rem;
}

.manterConectado {
    display: inline-block;
    margin-left: 0.3125rem;
    margin-bottom: 2.5rem;
}

.btnEntrar {
    width: 100%;
    height: 50px !important;
    border-radius: 0.9375rem;
    background-color: #633F9A;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.esqueciSenha_Container {
    width: 100%;
    display: inline-block;
}

.admin_Container{
    width: 0%;
    display: inline-block;
}
.voltarLogin{ 
    float: left;
    color: #fff;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.admin{
    float: left;
    color: #fff;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.esqueciSenha {
    float: right;
    color: #fff;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.esqueciSenha:hover {
    color: #fff;
}

.iconesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.icones {
    cursor: pointer;
}

.naoPossuiLogin {
    width: 100%;
    border-top: 0.125rem solid #633F9A;
    padding-top: 1.875rem;
    text-align: center;
}

.btnCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: #B0AFE6;
    width: 100%;
    height: 50px !important;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.9375rem;
    margin: 0;
    text-decoration: none;
}

.btnEntrar:hover {
    background-color: #532f8a;
    color: #fff;
}

.btnCadastro:hover {
    background-color: #9594cc;
    color: #fff;
}

.login__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    height: 21.25rem;
    width: auto;
}

.cadastro__camposPopup {
    width: 450px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #633F9A;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    animation: slideIn 0.3s ease-out forwards;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 80px;
    }
}

.btnCadastro:hover {
    text-decoration: none;
    color: white;
    /* Altere a cor desejada */
}


.destaque_ilustration {
    position: relative;
    width: 480px;
    height: 310px;
    align-items: center;
}

.destaque_ilustration_image {
    height: 100%;
    background: #fff;
    opacity: 0.2;
}

.destaque_ilustration_image img {
    height: 100%;
}


[data-anime] {
    opacity: 0;
}

[data-anime="left"] {
    transform: translate(-100%, 0)
}

[data-anime="right"] {
    transform: translate(100%, 0)
}

[data-anime="top"] {
    transform: translate(0, -100%)
}

[data-anime="bottom"] {
    transform: translate(0, 100%)
}

[data-anime].animate {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.3s;
    transform: translate(0, 0)
}

[data-anime].animate1 {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.6s;
    transform: translate(0, 0)
}

[data-anime].animate2 {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.9s;
    transform: translate(0, 0)
}



/* Media Queries */
/* Tablet */
@media(max-width: 1129px) {
    .destaqueContainer {
        display: none;
    }

    .login {
        display: flex;
        flex-direction: row;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 50px;
        position: absolute;
    }

    .login__blob {
        display: none;
    }
}

@media(min-width: 1130px) and (max-width: 1279px) {
    .destaqueContainer {
        width: 25rem;
    }

    .subDestaque {
        width: 18.75rem;
        white-space: break-spaces;
    }

    .login__blob {
        display: none;
    }
}

@media(max-width: 991px) {
    .botao {
        width: 100% !important;
    }

    .login__blob {
        display: none;
    }
}