.formEmail {
    background-color: #795FA1;
    left: 0;
    right: 0;
    margin: 50px auto;
    position: absolute;
    border-radius: 0.9375rem;
    width: 30rem;
    height: auto;
    padding: 3.125rem 1.875rem;
    color: #fff;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.headerForm {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emailInput {
    width: 100%;
    height: 2.8125rem;
    padding: 0.625rem 0.8125rem;
    border-radius: 0.625rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btnEnviar,
.btnVoltar {
    height: 50px;
    width: 40%;
    padding: 13px 50px;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

.btnEnviar:hover,
.btnVoltar:hover {
    color: #fff;
    text-decoration: none;
}

.cadastro__camposPopup {
    width: 450px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
    background-color: #633F9A;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    animation: slideIn 0.3s ease-out forwards;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 80px;
    }
}

/* Media Query */
@media only screen and (max-width: 991px) {
    .btnContainer {
        flex-direction: column;
    }

    .btnVoltar {
        margin-bottom: 30px;
    }
}